[Unit]
Description=Office automation APP
After=network.target

[Service]
User=pi
WorkingDirectory=/home/rover/Documents/lab-automation/server
ExecStart=/usr/bin/python3 /home/rover/Documents/lab-automation/server/app.py

[Install]
WantedBy=multi-user.target